fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
alembic
cryptography
httpx
yt-dlp
youtube-transcript-api
groq
qdrant-client[fastembed]
fastembed
langgraph
psycopg[binary]
sqlalchemy
